<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Restful.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Restful.WPF.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="AddMigration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsProd" serializeAs="String">
                <value>False</value>
            </setting>
        </Restful.WPF.Properties.Settings>
    </userSettings>
</configuration>